<% include ./partials/head.ejs %>
<% include ./partials/nav.ejs %>

<h1>Look at all that you've done!</h1>

<div>
    <ol id="completedTodoList">

    </ol>
</div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="js/done.js"></script>
<% include ./partials/footer.ejs %>