<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<form method="post" action="/add">
<label>Add a Todo</label>
<input type="text" id="input" name="input" placeholder="What do you need to do?">
<button type="submit">Add</button>
</form>

<div >
    <ol id="todoList">
    Hello
    </ol>
</div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
<% include ../partials/footer.ejs %>